body {
	font-family: 'ROBOTO-LIGHT'
}

/*BUTTONS*/
.button-icon {
	background-color: transparent;
	border: 0;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 0;
}

.x-button {
	border-radius: 0px;
}
.x-button-label, .x-button-normal .x-button-label {
	color: white;
	font-family: 'ROBOTO-LIGHT';
}

.button-start {
	background-image: url('../images/button1.png');
	width: 107px;
	height: 45px;
}

.button-back {
	background-image: url('../images/backbtn.png');
	background-size: contain;
	width: 25px;
	height: 25px;
}

.button-ignore {
	background-image: url('../images/ignorebtn.png');
	background-size: contain;
	width: 35px;
	height: 35px;
}

.button-help {
	background-image: url('../images/helpbtn.png');
	background-size: contain;
	width: 35px;
	height: 35px;
	margin-left: 20px;
}

.button-question {
	border-radius: 6px;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	background-color: #383838;
	border-color: #383838;
}

.button-question.open {
	background-color: #fff;
	border-color: #fff;
}

.button-question.last, 
.button-question.open.last {
	margin-right: 0px;
}

.button-question .x-button-label {
	font-size: 22px;
	color: #383838;
	font-family: 'ROBOTO-BOLD'
}

.button-question.open .x-button-label {
	font-size: 22px;
	color: #071e36;
	font-family: 'ROBOTO-BOLD'
}

.button-answer {
	border-radius: 6px;
	width: 35px;
	height: 35px;
	margin-right: 8px;
	background-color: #fff;
	border-color: #fff;
}

.button-answer.last {
	margin-right: 0px;
}

.button-answer .x-button-label {
	font-size: 26px;
	color: #071e36;
	font-family: 'ROBOTO-BOLD'
}

.button-answer.hide {
	visibility: hidden;
}

/*AUTO HIDE ALERT*/
.autohidealert-container {
	height: 50px;
	z-index: 11;
	width: 100%;
	background-color: transparent;
}

.autohidealert-container .message {
	background-color: rgba(255, 95, 24, 0.9);
	color: white;	
	border-radius: 6px;
	padding: 10px;
}

/*HOME*/
.home {
	background-color: #309198;
	width: 100%;
}

.game {
	background-color: #e6dfcc;
	width: 100%;
}

.game-topbar {
	height: 46px;
	background-image: url('../images/barbg.png');
	width: 100%;
	background-size: contain;
	color: white;
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
}

.game-level {
	font-family: 'ROBOTO-BOLD'
}

.game-pic {
	min-height: 160px;
	width: 100%;
	padding: 0px;
	overflow: hidden;
}

.game-word {
	background-color: #dcd4bf;
	min-height: 80px;
	width: 100%;
}

.game-answer {
	background-color: #2d282c;
	min-height: 90px;
	width: 100%;
}

.game-score {
	background-color: #bf4b19;
	border-radius: 6px;
	padding: 5px;
}

.game-buttons {
	/*height: 40px;*/
	width: 100%;
	margin-bottom: 3px;
	margin-top: 8px;
}

.game-pic-image {
	/*border: 5px solid white;*/
}

.game-pic-image.x-img.x-img-image img {
	width: 100%;
}