body {
	font-family: 'ROBOTO-LIGHT'
}

/*BUTTONS*/
.button-icon {
	background-color: transparent;
	border: 0;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 0;
}

.x-button {
	border-radius: 0px;
}
.x-button-label, .x-button-normal .x-button-label {
	color: white;
	font-family: 'ROBOTO-LIGHT';
}

.button-start {
	background-image: url('../images/button1.png');
	width: 107px;
	height: 45px;
}

.button-question {
	border-radius: 6px;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	background-color: #383838;
	border-color: #383838;
}

.button-question.open {
	background-color: #fff;
	border-color: #fff;
}

.button-question.last, 
.button-question.open.last {
	margin-right: 0px;
}

.button-question .x-button-label {
	font-size: 22px;
	color: #383838;
	font-family: 'ROBOTO-BOLD'
}

.button-question.open .x-button-label {
	font-size: 22px;
	color: #071e36;
	font-family: 'ROBOTO-BOLD'
}

.button-answer {
	border-radius: 6px;
	width: 35px;
	height: 35px;
	margin-right: 5px;
}

.button-answer.last {
	margin-right: 0px;
}

.button-answer .x-button-label {
	font-size: 26px;
	color: #071e36;
	font-family: 'ROBOTO-BOLD'
}

/*HOME*/
.home {
	background-color: #309198;
	width: 100%;
}

.game {
	background-color: #e6dfcc;
	width: 100%;
}

.game-topbar {
	height: 46px;
	background-image: url('../images/barbg.png');
	width: 100%;
	background-size: contain;
}

.game-pic {
	min-height: 200px;
	width: 100%;
}

.game-word {
	background-color: #dcd4bf;
	min-height: 100px;
	width: 100%;
}

.game-answer {
	background-color: #2d282c;
	min-height: 100px;
	width: 100%;
}