body {
	font-family: 'ROBOTO-LIGHT'
}

/*BUTTONS*/
.button-icon {
	background-color: transparent;
	border: 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 0;
}

.x-button {
	border-radius: 0px;
}
.x-button-label, .x-button-normal .x-button-label {
	color: white;
	font-family: 'ROBOTO-LIGHT';
}

.button-pop {
	background-image: url('../images/btn_PU.png');
	width: 107px;
}

.button-pop.continue {
	width: 137px;
}

.button-pop.x-button-pressing {
	background-image: url('../images/btn_PU_active.png');
}

.button-pop .x-button-label {
	color: #000;
	font-family: 'ROBOTO-BOLD'
}

.button-pop.x-button-pressing .x-button-label {
	color: #fff;
	font-family: 'ROBOTO-BOLD'
}

.button-start {
	background-image: url('../images/home_btn_play1.png');
	width: 179px;
	height: 48px;
}

.button-start.x-button-pressing {
	background-image: url('../images/home_btn_play2.png');
}

.button-start .x-button-label {
	font-size: 28px;
	color: #fff;
	font-family: 'ROBOTO-BOLD';
	/*margin-top:  3px;*/
}

.button-info {
	background-image: url('../images/home_btn_info1.png');
	width: 47px;
	height: 45px;
}

.button-info.x-button-pressing {
	background-image: url('../images/home_btn_info2.png');
}

.button-start.x-button-pressing .x-button-label {
	font-size: 28px;
	color: #cb3327;
	font-family: 'ROBOTO-BOLD';
	/*margin-top:  3px;*/
}

.button-back {
	background-image: url('../images/backbtn.png');
	background-size: contain;
	width: 25px;
	height: 25px;
}

.button-ignore {
	background-image: url('../images/ignorebtn.png');
	background-size: contain;
	width: 35px;
	height: 35px;
}

.button-ignore.x-button-pressing {
	background-image: url('../images/ignorebtn_pressed.png');
}

.button-help {
	background-image: url('../images/helpbtn.png');
	background-size: contain;
	width: 35px;
	height: 35px;
	margin-left: 20px;
}

.button-help.x-button-pressing {
	background-image: url('../images/helpbtn_pressed.png');
}

.button-question {
	border-radius: 6px;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	background-color: #383838;
	border-color: #383838;
}



.button-question.open {
	background-color: #fff;
	border-color: #fff;
}

.button-question.fix {
	background-color: #5ac2a8;
	border-color: #5ac2a8;
}

.button-question.last, 
.button-question.open.last,
.button-question.fix.last {
	margin-right: 0px;
}

.button-question .x-button-label {
	font-size: 22px;
	color: #383838;
	font-family: 'ROBOTO-BOLD';
	margin-top:  3px;
}

.button-question.open .x-button-label {
	font-size: 22px;
	color: #071e36;
	font-family: 'ROBOTO-BOLD';
}

.button-question.fix .x-button-label {
	font-size: 22px;
	color: #fff;
	font-family: 'ROBOTO-BOLD';
}

.button-answer {
	border-radius: 6px;
	width: 35px;
	height: 35px;
	margin-right: 8px;
	background-color: #fff;
	border-color: #fff;
}

.button-answer.last {
	margin-right: 0px;
}

.button-answer .x-button-label {
	font-size: 26px;
	color: #071e36;
	font-family: 'ROBOTO-BOLD';
	margin-top: 2px;
}

.button-answer.hide {
	visibility: hidden;
}

.x-hasbadge .x-badge {
	color: #c14819 !important;
	border: 1px solid #c14819;
	background-color: #FFFFFF;
}

/*AUTO HIDE ALERT*/
.autohidealert-container {
	height: 50px;
	z-index: 11;
	width: 100%;
	background-color: transparent;
}

.autohidealert-container .message {
	background-color: rgba(255, 95, 24, 0.9);
	color: white;	
	border-radius: 6px;
	padding: 10px;
}

.pop-alert-container {
	background-image: url('../images/bg_pu.png');
	background-size: contain;
	width: 262px;
	height: 210px;
	color: white;
}

.pop-alert-container .title {
	padding: 10px;
	border-bottom: 1px solid;
	width: 70%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
	font-family: 'ROBOTO-BOLD';
	font-size: 22px;
}

.pop-alert-container .message {
	width: 85%;
	text-align: center;
	height: 80px;
	margin-bottom: 8px;
}

.pop-congrate-container {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-image: url('../images/Chuc_mung_BG.jpg');
	color: white;
	font-size: 24px;
}

/*HOME*/
.home {
	background-color: #f9e59e;
	width: 100%;
}

.home-level {
	background-image: url('../images/home_btn1.png');
	width: 226px;
	height: 48px;
	background-size: contain;
	background-repeat: no-repeat;
	color: white;
	font-size: 30px;
	text-align: center;
	font-family: 'ROBOTO-BOLD';
}

.home-game-title {
	color: #d73529;
	font-size: 26px;
	margin-top: 20px;
	/*font-family: 'ROBOTO-BOLD';*/
}

.home-game-title.option {
	color: #fff;
	margin-top: 10px;
	font-size: 16px;
	margin-bottom: 8px;
}

.home-logo {
	margin-top: 20px;
	margin-bottom: 5px;
}

.home-buttons {
	background-color: #db614a;
}

.game {
	background-color: #e6dfcc;
	width: 100%;
}

.game-topbar {
	height: 60px;
	padding-top: 14px;
	background-image: url('../images/barbg.png');
	width: 100%;
	background-size: contain;
	color: white;
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
}

.game-level {
	font-family: 'ROBOTO-BOLD';
}

.game-pic {
	min-height: 160px;
	width: 100%;
	padding: 0px;
	overflow: hidden;
	/*box-shadow: 2px 2px #ccc5b2;*/
}

.game-word {
	background-color: #dcd4bf;
	min-height: 80px;
	width: 100%;
}

.game-answer {
	background-color: #2d282c;
	min-height: 90px;
	width: 100%;
}

.game-score {
	/*background-color: #bf4b19;
	border-radius: 6px;*/
	background-image: url('../images/score_bigbg.png');
	width: 80px;
	height: 35px;
	background-size: 100% 100%;
}

.game-buttons {
	/*height: 40px;*/
	width: 100%;
	margin-bottom: 3px;
	margin-top: 8px;
}

.game-pic-image {
	/*border: 5px solid white;*/
}

.game-pic-image.x-img.x-img-image img {
	width: 100%;
}

.chucmung-container {
	background-image: url('../images/Chuc_mung_1.png');
	background-size: contain;
	width: 288px;
	height: 90px;
	font-family: 'ROBOTO-BOLD';
	margin-bottom: 40px;
}

.pop-congrate-container .cauxxx {
	font-family: 'ROBOTO-BOLD';
	font-size: 26px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.pop-congrate-container .dapan {
	background-image: url('../images/Chuc_mung_2.png');
	background-size: contain;
	width: 300px;
	height: 120px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}
