<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jokerteam.cungnhaudoanchu" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cùng Chơi Đoán Chữ</name>
    <description>
        Game trí tuệ cho bạn thư giãn.
    </description>
    <author email="jokerteamorg@gmail.com" href="">
        Joker Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    
    <feature name="SplashScreen">
	    <param name="android-package" value="org.apache.cordova.SplashScreen" />
	</feature>
</widget>
