body {
	font-family: 'AVOO-LIGHT'
}

.x-mask.x-has-message .x-loading-spinner-outer {
	height: 10px;
}

.x-mask .x-mask-inner .x-mask-message {
	color: #fff;
	bottom: 15px;
}

.x-mask.x-has-message .x-mask-inner {
	top: 200px;
}

.x-loading-spinner {
	display: none;
}

.x-mask .x-mask-inner {
	background: #0C4B41;
}
/*BUTTONS*/
.button-icon {
	background-color: transparent;
	border: 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 0;
}

.x-button {
	border-radius: 0px;
}
.x-button-label, .x-button-normal .x-button-label {
	color: white;
	font-family: 'AVOO-LIGHT';
}

.button-pop {
	background-image: url('../images/btn_PU.png');
	width: 107px;
}

.button-pop.continue {
	width: 137px;
}

.button-pop.intro {
	width: 137px;
}

.button-pop.x-button-pressing {
	background-image: url('../images/btn_PU_active.png');
}

.button-pop .x-button-label {
	color: #000;
	font-family: 'AVOO-BOLD';
	font-size: 16px;
}

.button-pop.intro .x-button-label {
	font-size: 13px;
}

.button-pop.x-button-pressing .x-button-label {
	color: #fff;
	font-family: 'AVOO-BOLD'
}

.button-start {
	background-image: url('../images/home_btn_play1.png');
	width: 179px;
	height: 48px;
}

.button-start.x-button-pressing {
	background-image: url('../images/home_btn_play2.png');
}

.button-start .x-button-label {
	font-size: 24px;
	color: #fff;
	font-family: 'AVOO-BOLD';
	margin-top: -8px;
}

.button-info {
	background-image: url('../images/home_btn_info1.png');
	width: 47px;
	height: 45px;
}

.button-info.x-button-pressing {
	background-image: url('../images/home_btn_info2.png');
}

.button-start.x-button-pressing .x-button-label {
	font-size: 24px;
	color: #cb3327;
	font-family: 'AVOO-BOLD';
	/*margin-top:  3px;*/
}

.button-back {
	background-image: url('../images/backbtn.png');
	background-size: contain;
	width: 51px;
	height: 27px;
}

.button-ignore {
	background-image: url('../images/ignorebtn.png');
	background-size: contain;
	width: 35px;
	height: 35px;
}

.button-ignore.x-button-pressing {
	background-image: url('../images/ignorebtn_pressed.png');
}

.button-help {
	background-image: url('../images/helpbtn.png');
	background-size: 50%;
	width: 30px;
	height: 30px;
	margin-left: 15px;
	/* border: 1px solid; */
	background-position: center;
}

.button-help.x-button-pressing {
	background-image: url('../images/helpbtn_pressed.png');
}

.button-sharefb {
	background-image: url('../images/fbbtn.png');
	background-size: 37%;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	background-position: center;
	/* border: 1px solid; */
}

.button-sharefb.x-button-pressing {
	background-image: url('../images/fbbtn_pressed.png');
}

.button-question {
	border-radius: 6px;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	background-color: #383838;
	border-color: #383838;
}

.button-gift {
	border-radius: 0px;
	width: 60px;
	height: 60px;
	margin-right: 25px;
	background-image: url('../images/gift.png');
	border-color: transparent;
	background-size: 100% 100%;
}

.button-gift.last {
	margin-right: 0px;
}

.button-gift.open {
	background-image: url('../images/gift_open.png');
}

.button-gift .x-button-label {
	font-size: 36px;
	color: #931628;
	font-family: 'AVOO-BOLD';
	margin-top: 0px;
}



.button-question.open {
	background-color: #fff;
	border-color: #fff;
}

.button-question.open.hide {
	visibility: hidden;
}

.button-question.open.wrong .x-button-label {
	color: red;
}

.button-question.fix {
	background-color: #5ac2a8;
	border-color: #5ac2a8;
}

.button-question.last, 
.button-question.open.last,
.button-question.fix.last {
	margin-right: 0px;
}

.button-question .x-button-label {
	font-size: 22px;
	color: #383838;
	font-family: 'AVOO-BOLD';
	margin-top:  -3px;
}

.button-question.open .x-button-label {
	font-size: 22px;
	color: #071e36;
	font-family: 'AVOO-BOLD';
	margin-top: -3px;
}

.button-question.fix .x-button-label {
	font-size: 22px;
	color: #fff;
	font-family: 'AVOO-BOLD';
}



.button-answer {
	border-radius: 6px;
	width: 35px;
	height: 35px;
	margin-right: 8px;
	background-color: #fff;
	border-color: #fff;
}

.button-answer.last {
	margin-right: 0px;
}

.button-answer .x-button-label {
	font-size: 26px;
	color: #071e36;
	font-family: 'AVOO-BOLD';
	margin-top: -3px;
}

.button-answer.hide {
	visibility: hidden;
}

.x-hasbadge .x-badge {
	color: #339196 !important;
	border: 0px solid #c14819;
	background-color: #FFFFFF;
	top: -4px;
	right: -13px;
}

/*AUTO HIDE ALERT*/
.autohidealert-container {
	height: 50px;
	z-index: 11;
	width: 100%;
	background-color: transparent;
}

.autohidealert-container .message {
	background-color: rgba(255, 95, 24, 0.9);
	color: white;	
	border-radius: 6px;
	padding: 10px;
}

.pop-alert-container {
	background-image: url('../images/bg_pu.png');
	background-size: contain;
	width: 282px;
	height: 230px;
	color: white;
	background-repeat: no-repeat;
	background-repeat: no-repeat;
}

.pop-alert-container .title {
	padding: 10px;
	border-bottom: 1px solid;
	width: 90%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
	font-family: 'AVOO-BOLD';
	font-size: 22px;
}

.pop-alert-container .message {
	width: 85%;
	text-align: center;
	height: 92px;
	margin-bottom: 8px;
	font-size: 15px;
	line-height: 22px;
}

.pop-congrate-container {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-image: url('../images/Chuc_mung_BG.jpg');
	color: white;
	font-size: 24px;
}

.pop-congrate-container.gift {
	background-image: url('../images/gift_bg.jpg');
}

.doandung.gift {
	font-size: 16px;
	margin: 15px;
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
}

/*HOME*/
.home {
	background-color: #f9e59e;
	width: 100%;
}

.home-level {
	background-image: url('../images/home_btn1.png');
	width: 226px;
	height: 48px;
	background-size: contain;
	background-repeat: no-repeat;
	color: white;
	font-size: 30px;
	text-align: center;
	font-family: 'AVOO-BOLD';
	/* margin-top: -3px; */
}

.home-level .x-innerhtml {

	margin-top: -8px;
	

	font-size: 24px;

}

.home-game-title {
	color: #d73529;
	font-size: 26px;
	margin-top: 20px;
	/*font-family: 'AVOO-BOLD';*/
}

.home-game-title.option {
	color: #fff;
	margin-top: 10px;
	font-size: 16px;
	margin-bottom: 8px;
}

.home-logo {
	/*margin-top: 20px;
	margin-bottom: 5px;*/
}

.home-buttons {
	background-color: #db614a;
}

.game {
	background-color: #e6dfcc;
	width: 100%;
}

.game-topbar {
	height: 64px;
	/*padding-top: 20px;*/
	/*background-image: url('../images/barbg.png');*/
	width: 100%;
	background-size: contain;
	color: white;
	font-size: 18px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #dcd4bf;
}

.game-level {
	font-family: 'AVOO-BOLD';
	 background-image: url('../images/caubg.png'); 
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/* width: 187px; */
	height: 54px;
	/* top: -18px; */
}

.game-level .x-innerhtml {
	margin-top: 7px;
	/* color: #1c8e94; */
	font-size: 24px;
}

.game-pic {
	min-height: 160px;
	width: 100%;
	padding: 0px;
	overflow: hidden;
	/*box-shadow: 2px 2px #ccc5b2;*/
}

.game-word {
	background-color: #dcd4bf;
	min-height: 80px;
	width: 100%;
}

.game-answer {
	background-color: #2d282c;
	min-height: 90px;
	width: 100%;
}

.game-score {
	/*background-color: #bf4b19;
	border-radius: 6px;*/
	background-image: url('../images/score_bigbg.png');
	width: 80px;
	height: 32px;
	background-size: 100% 100%;
}

.game-buttons {
	/*height: 40px;*/
	width: 100%;
	margin-bottom: 3px;
	margin-top: 8px;
}

.game-pic-image {
	/*border: 5px solid white;*/
}

.game-pic-image.x-img.x-img-image img {
	width: 100%;
}

.chucmung-container {
	background-image: url('../images/Chuc_mung_1.png');
	background-size: contain;
	width: 288px;
	height: 90px;
	font-family: 'AVOO-BOLD';
	margin-bottom: 0px;
	font-size: 20px;
}

.pop-congrate-container .cauxxx {
	font-family: 'AVOO-BOLD';
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.pop-congrate-container .dapan {
	background-image: url('../images/Chuc_mung_2.png');
	background-size:  100% 100%;
	width: 300px;
	height: 100px;
	background-repeat: no-repeat;
	margin-bottom: 5px;
}

.pop-congrate-container .dapan.gift {
	background-image: url('../images/gift_bg_small.png');
	height: 156px;
	width: 280px;
	margin-bottom: 5px;
}

